.category-wrap {
  overflow: auto;
  margin-top: 48px;
  padding: 0 24px;
  .category-label {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
  .items-list {
    margin-top: 26px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width: 100%;

    // hide scrollbar
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
  }
}
