@font-face {
  font-family: "Hellix";
  src: local("Hellix Regular"), local("Hellix-Regular"),
    url("./fonts/Hellix-Regular.woff2") format("woff2"),
    url("./fonts/Hellix-Regular.woff") format("woff"),
    url("./fonts/Hellix-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: local("Hellix SemiBold"), local("Hellix-SemiBold"),
    url("./fonts/Hellix-SemiBold.woff2") format("woff2"),
    url("./fonts/Hellix-SemiBold.woff") format("woff"),
    url("./fonts/Hellix-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: "Hellix";
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
